In [2]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.37)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.12.2)

In [1]:
import sqlalchemy as db

engine = db.create_engine('sqlite:///mydb.db')
conn = engine.connect()
metadata = db.MetaData()

In [9]:
dir(db)

['ARRAY',
 'AdaptedConnection',
 'Alias',
 'AliasedReturnsRows',
 'Any',
 'AssertionPool',
 'AsyncAdaptedQueuePool',
 'BIGINT',
 'BINARY',
 'BLANK_SCHEMA',
 'BLOB',
 'BOOLEAN',
 'BaseDDLElement',
 'BaseRow',
 'BigInteger',
 'BinaryExpression',
 'BindParameter',
 'BindTyping',
 'Boolean',
 'BooleanClauseList',
 'CHAR',
 'CLOB',
 'CTE',
 'CacheKey',
 'Case',
 'Cast',
 'CheckConstraint',
 'ChunkedIteratorResult',
 'ClauseElement',
 'ClauseList',
 'CollectionAggregate',
 'Column',
 'ColumnClause',
 'ColumnCollection',
 'ColumnDefault',
 'ColumnElement',
 'ColumnExpressionArgument',
 'ColumnOperators',
 'Compiled',
 'CompoundSelect',
 'Computed',
 'Connection',
 'Constraint',
 'CreateEnginePlugin',
 'CursorResult',
 'DATE',
 'DATETIME',
 'DDL',
 'DDLElement',
 'DECIMAL',
 'DOUBLE',
 'DOUBLE_PRECISION',
 'Date',
 'DateTime',
 'DefaultClause',
 'Delete',
 'Dialect',
 'Double',
 'Engine',
 'Enum',
 'ExceptionContext',
 'Executable',
 'ExecutableDDLElement',
 'ExecutionContext',
 'Exists',
 'Extract',
 'FLOAT',
 'FallbackAsyncAdaptedQueuePool',
 'False_',
 'FetchedValue',
 'Float',
 'ForeignKey',
 'ForeignKeyConstraint',
 'FromClause',
 'FromGrouping',
 'FrozenResult',
 'Function',
 'FunctionElement',
 'FunctionFilter',
 'GenerativeSelect',
 'Grouping',
 'HasCTE',
 'HasPrefixes',
 'HasSuffixes',
 'INT',
 'INTEGER',
 'Identity',
 'Index',
 'Insert',
 'Inspector',
 'Integer',
 'Interval',
 'IteratorResult',
 'JSON',
 'Join',
 'LABEL_STYLE_DEFAULT',
 'LABEL_STYLE_DISAMBIGUATE_ONLY',
 'LABEL_STYLE_NONE',
 'LABEL_STYLE_TABLENAME_PLUS_COL',
 'Label',
 'LambdaElement',
 'LargeBinary',
 'Lateral',
 'MappingResult',
 'MergedResult',
 'MetaData',
 'NCHAR',
 'NUMERIC',
 'NVARCHAR',
 'NestedTransaction',
 'NotNullable',
 'Null',
 'NullPool',
 'Nullable',
 'Numeric',
 'Operators',
 'Over',
 'PickleType',
 'Pool',
 'PoolProxiedConnection',
 'PoolResetState',
 'PrimaryKeyConstraint',
 'QueuePool',
 'REAL',
 'ReleaseSavepointClause',
 'Result',
 'ResultProxy',
 'ReturnsRows',
 'RollbackToSavepointClause',
 'RootTransaction',
 'Row',
 'RowMapping',
 'SMALLINT',
 'SQLColumnExpression',
 'SavepointClause',
 'ScalarResult',
 'ScalarSelect',
 'Select',
 'SelectBase',
 'SelectLabelStyle',
 'Selectable',
 'Sequence',
 'SingletonThreadPool',
 'SmallInteger',
 'StatementLambdaElement',
 'StaticPool',
 'String',
 'Subquery',
 'TEXT',
 'TIME',
 'TIMESTAMP',
 'Table',
 'TableClause',
 'TableSample',
 'TableValuedAlias',
 'Text',
 'TextAsFrom',
 'TextClause',
 'TextualSelect',
 'Time',
 'Transaction',
 'True_',
 'TryCast',
 'Tuple',
 'TupleType',
 'TwoPhaseTransaction',
 'TypeClause',
 'TypeCoerce',
 'TypeCompiler',
 'TypeDecorator',
 'URL',
 'UUID',
 'UnaryExpression',
 'Unicode',
 'UnicodeText',
 'UniqueConstraint',
 'Update',
 'UpdateBase',
 'Uuid',
 'VARBINARY',
 'VARCHAR',
 'Values',
 'ValuesBase',
 'Visitable',
 'WithinGroup',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__go',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_util',
 'alias',
 'all_',
 'and_',
 'annotations',
 'any_',
 'asc',
 'between',
 'bindparam',
 'bitwise_not',
 'case',
 'cast',
 'collate',
 'column',
 'create_engine',
 'create_mock_engine',
 'create_pool_from_url',
 'cte',
 'custom_op',
 'cyextension',
 'delete',
 'desc',
 'dialects',
 'distinct',
 'engine',
 'engine_from_config',
 'event',
 'exc',
 'except_',
 'except_all',
 'exists',
 'extract',
 'false',
 'func',
 'funcfilter',
 'insert',
 'insert_sentinel',
 'inspect',
 'inspection',
 'intersect',
 'intersect_all',
 'join',
 'label',
 'lambda_stmt',
 'lateral',
 'literal',
 'literal_column',
 'log',
 'make_url',
 'modifier',
 'not_',
 'null',
 'nulls_first',
 'nulls_last',
 'nullsfirst',
 'nullslast',
 'or_',
 'outerjoin',
 'outparam',
 'over',
 'pool',
 'quoted_name',
 'result_tuple',
 'schema',
 'select',
 'sql',
 'table',
 'tablesample',
 'text',
 'true',
 'try_cast',
 'tuple_',
 'type_coerce',
 'types',
 'union',
 'union_all',
 'update',
 'util',
 'values',
 'within_group']

In [2]:
teams = db.Table(
    'Team', metadata,
    db.Column('team_id', db.Integer, primary_key=True),
    db.Column('team_name', db.Text),
    db.Column('team_coach', db.Text)
)

In [3]:
players = db.Table(
    'Player', metadata,
    db.Column('player_id', db.Integer, primary_key=True),
    db.Column('player_name', db.Text),
    db.Column('player_age', db.Integer),
    db.Column('player_position', db.Text),
    db.Column('player_team', db.ForeignKey("Team.team_id"))
)

In [4]:
matches = db.Table(
    'Match', metadata,
    db.Column('match_id', db.Integer, primary_key=True),
    db.Column('match_date', db.Date),
    db.Column('home_team', db.ForeignKey("Team.team_id")),
    db.Column('away_team', db.ForeignKey("Team.team_id")),
    db.Column('match_score', db.Text)
)

In [5]:
statistics = db.Table(
    'Stat', metadata,
    db.Column('stat_id', db.Integer, primary_key=True),
    db.Column('stat_pl', db.ForeignKey("Player.player_id")),
    db.Column('stat_match', db.ForeignKey("Match.match_id")),
    db.Column('stat_goals', db.Integer),
    db.Column('stat_assists', db.Integer),
    db.Column('stat_yelcard', db.Integer),
    db.Column('stat_redcard', db.Integer),
    extend_existing=True
)

In [6]:
basketball = db.Table(
    'Players', metadata,
    db.Column('bb_id', db.Integer, primary_key=True),
    db.Column('bb_name', db.Text),
    db.Column('bb_age', db.Integer),
    db.Column('bb_position', db.Text),
    db.Column('bb_team', db.Text)
)

In [7]:
metadata.create_all(engine)

In [8]:
insertion1 = teams.insert().values([
    {'team_name': 'Barcelona', 'team_coach': 'Hansi Flick'},
    {'team_name': 'Atlético Madrid', 'team_coach': 'Diego Simeone'},
    {'team_name': 'Real Madrid', 'team_coach': 'Carlo Ancelotti'}
])
conn.execute(insertion1)

In [9]:
insertion2 = players.insert().values([
    {'player_name': 'Lamine Yamal', 'player_age': 17, 'player_position': 'Winger', 'player_team': 1},
    {'player_name': 'Jude Bellingham', 'player_age': 21, 'player_position': 'Midfielder', 'player_team': 3},
    {'player_name': 'Julián Alvarez', 'player_age': 25, 'player_position': 'Forward', 'player_team': 2},
])
conn.execute(insertion2)

In [10]:
from datetime import datetime, date

insertion3 = matches.insert().values([
    {'match_date': date(2025, 1, 12), 'home_team': 1, 'away_team': 3, 'match_score': '2-5'},
    {'match_date': date(2024, 12, 18), 'home_team': 3, 'away_team': 2, 'match_score': '1-1'},
    {'match_date': date(2025, 1, 27), 'home_team': 2, 'away_team': 1, 'match_score': '2-1'}
])
conn.execute(insertion3)

In [11]:
insertion4 = statistics.insert().values([
    {'stat_pl': 1, 'stat_match': 1, 'stat_goals': 1, 'stat_assists': 2, 'stat_yelcard': 0, 'stat_redcard': 0},
    {'stat_pl': 1, 'stat_match': 3, 'stat_goals': 0, 'stat_assists': 1, 'stat_yelcard': 1, 'stat_redcard': 0},
    {'stat_pl': 2, 'stat_match': 1, 'stat_goals': 1, 'stat_assists': 0, 'stat_yelcard': 1, 'stat_redcard': 0},
    {'stat_pl': 2, 'stat_match': 2, 'stat_goals': 0, 'stat_assists': 0, 'stat_yelcard': 1, 'stat_redcard': 0},
    {'stat_pl': 3, 'stat_match': 2, 'stat_goals': 1, 'stat_assists': 0, 'stat_yelcard': 0, 'stat_redcard': 0},
    {'stat_pl': 3, 'stat_match': 3, 'stat_goals': 0, 'stat_assists': 1, 'stat_yelcard': 0, 'stat_redcard': 1}
])
conn.execute(insertion4)

In [13]:
insertion5 = basketball.insert().values([
    {'bb_name': 'Stephen Curry', 'bb_age': 36, 'bb_position': 'Point guard', 'bb_team': 'Warriors'},
    {'bb_name': 'Nikola Jokić', 'bb_age': 29, 'bb_position': 'Center', 'bb_team': 'Nuggets'},
    {'bb_name': 'Giannis Antetokounmpo', 'bb_age': 30, 'bb_position': 'Power forward', 'bb_team': 'Bucks'},
])
conn.execute(insertion5)

In [15]:
select_all_query = db.select(statistics)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 1, 1, 1, 2, 0, 0),
 (2, 1, 3, 0, 1, 1, 0),
 (3, 2, 1, 1, 0, 1, 0),
 (4, 2, 2, 0, 0, 1, 0),
 (5, 3, 2, 1, 0, 0, 0),
 (6, 3, 3, 0, 1, 0, 1)]

функция GROUP BY

In [16]:
from sqlalchemy import func

select_all_query = db.select(statistics.columns.stat_pl,
                             db.func.sum(statistics.columns.stat_assists)).group_by(statistics.columns.stat_pl)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 3), (2, 0), (3, 1)]

функция  HAVING

In [17]:
select_all_query = (db.select(statistics.columns.stat_pl,
                             db.func.sum(statistics.columns.stat_assists))
                    .group_by(statistics.columns.stat_pl).having(db.func.sum(statistics.columns.stat_assists) > 0))
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 3), (3, 1)]

функция JOIN

In [19]:
select_all_query = db.select(players.c.player_name, teams.c.team_name).join(teams, players.c.player_team == teams.c.team_id)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[('Lamine Yamal', 'Barcelona'),
 ('Jude Bellingham', 'Real Madrid'),
 ('Julián Alvarez', 'Atlético Madrid')]

функция  LEFT JOIN

In [22]:
select_all_query = db.select(players.c.player_name,
                             statistics).select_from(statistics).join(players,
                                                                      players.c.player_id == statistics.c.stat_pl, isouter=True)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[('Lamine Yamal', 1, 1, 1, 1, 2, 0, 0),
 ('Lamine Yamal', 2, 1, 3, 0, 1, 1, 0),
 ('Jude Bellingham', 3, 2, 1, 1, 0, 1, 0),
 ('Jude Bellingham', 4, 2, 2, 0, 0, 1, 0),
 ('Julián Alvarez', 5, 3, 2, 1, 0, 0, 0),
 ('Julián Alvarez', 6, 3, 3, 0, 1, 0, 1)]

фуннкция UNION

In [14]:
query1 = db.select(players.c.player_name, players.c.player_age)
query2 = db.select(basketball.c.bb_name, basketball.c.bb_age)

union_query = query1.union(query2)
select_result = conn.execute(union_query)
select_result.fetchall()

[('Giannis Antetokounmpo', 30),
 ('Jude Bellingham', 21),
 ('Julián Alvarez', 25),
 ('Lamine Yamal', 17),
 ('Nikola Jokić', 29),
 ('Stephen Curry', 36)]